
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .comment-box {
        background-color: #f9f9f9; /* لون خلفية فاتح طريف */
        border: 1px solid #ddd; /* إطار خفيف حول التعليق */
        border-radius: 15px; /* جعل الحواف ناعمة */
        padding: 15px; /* بعض المسافة الداخلية للتعليق */
        margin-bottom: 15px; /* مسافة بين التعليقات */
        box-shadow: 0 4px 8px rgba(79, 79, 79, 0.1); /* ظل خفيف لجعل التعليقات تبدو بارزة */
    }
</style>


    <!-- Breaking News Start -->
    <div class="container-fluid mt-5 mb-3 pt-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        <div class="section-title border-right-0 mb-0" style="width: 180px;">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tranding</h4>
                        </div>
                        <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                            style="width: calc(100% - 180px); padding-right: 100px;">
                            {% for news in trending_news %}
                            <div class="text-truncate"><a class="text-secondary text-uppercase font-weight-semi-bold" href="{% url 'news_page' news.id %}">{{news.info}}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breaking News End -->


    <!-- News With Sidebar Start -->
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="{{article.image.url}}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="{% url 'news_by_category' article.category.name %}">{{article.category.name}}</a>
                                <a class="text-body" href="{% url 'news_by_date' article.add_date %}">{{article.add_date}}</a>
                            </div>
                            <!-- content -->
                            <div class="content" dir="rtl">
                                {{article.content|safe}}
                            </div>
                            <!-- end content     -->
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="{{article.journalist.photo.url}}" width="25" height="25" alt="">
                                <span>{{article.journalist.author.first_name}} {{article.journalist.author.last_name}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>{{article.num_of_views}}</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>{{num_of_comments}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{num_of_comments}} Comments</h4>
                            {% if num_of_comments > 3 %}
                            <a id="toggle-comments-btn" class="btn btn-sm btn-outline-secondary" href="#allcomments" data-toggle="collapse" onclick="toggleComments()">عرض كل التعليقات</a>
                            {% endif %}
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {% for com in comments|slice:":3" %}
                            <div class="media mb-4 comment-box">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">{{com.name}} {% if com.creator.is_staff %}(الناشر){% endif %}</a> <small><i>{{com.date_of_creation}}</i></small></h6>
                                    <p>{{com.comment}}</p>
                                </div>
                            </div>
                            {% endfor %}


                            <div id="allcomments" class="collapse">
                                {% for com in comments|slice:"3:" %}
                                <div class="media mb-4 comment-box">
                                    <div class="media-body">
                                        <h6><a class="text-secondary font-weight-bold" href="">{{com.name}} {% if com.creator == article.journalist.author %}(الناشر){% endif %}</a> <small><i>{{com.date_of_creation}}</i></small>{% if request.user == com.creator %}&nbsp;&nbsp;&nbsp;&nbsp;<small><a href="{% url 'delete_com' com.id %}"><i>حذف</i></a></small>{% endif %}</h6>
                                        <p>{{com.comment}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    
                                </div>

                                <div class="form-group">
                                    <label for="message">Message *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control" name="comment"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    {% if not request.user.is_authenticated %}
                                    <a href="{% url 'login' %}" class="btn btn-sm btn-danger">سجل دخول اولاً</a>
                                    {% else %}
                                    <input type="submit" value="نشر"
                                        class="btn btn-primary font-weight-semi-bold py-2 px-3">
                                    {% endif %}    
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>

                <div class="col-lg-4">
                    <!-- Social Follow Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                                <i class="fab fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Fans</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                                <i class="fab fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                                <i class="fab fa-linkedin-in text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Connects</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                                <i class="fab fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                                <i class="fab fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Subscribers</span>
                            </a>
                            <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                                <i class="fab fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                                <span class="font-weight-medium">12,345 Followers</span>
                            </a>
                        </div>
                    </div>
                    <!-- Social Follow End -->

                    <!-- Ads Start -->
                    {% if advertisment %}
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Advertisement</h4>
                        </div>
                        {% for ads in advertisment %}
                        <div class="bg-white text-center border border-top-0 p-3">
                            <a href="{{ads.image.url}}"><img class="img-fluid" src="{{ads.image.url}}" style="height: 200px; width: 400px;" alt=""></a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <!-- Ads End -->

                    <!-- Popular News Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tranding News</h4>
                        </div>
                        {% for news in trending_news|slice:":4" %}
                        <div class="bg-white border border-top-0 p-3">                    
                            <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
                                <img class="img-fluid" style="height: 110px; width: 110px;" src="{{news.image.url}}" alt="">
                                <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                                    <div class="mb-2">
                                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="{% url 'news_by_category' news.category.name %}">{{news.category.name}}</a>
                                        <a class="text-body" href="{% url 'news_by_date' news.add_date %}"><small>{{news.add_date}}</small></a>
                                    </div>
                                    <a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="{% url 'news_page' news.id %}">{{news.info|truncatechars:40}}</a>
                                </div>
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Popular News End -->

                    <!-- Newsletter Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Newsletter</h4>
                        </div>
                        <div class="bg-white text-center border border-top-0 p-3">
                            <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                            <div class="input-group mb-2" style="width: 100%;">
                                <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary font-weight-bold px-3">Sign Up</button>
                                </div>
                            </div>
                            <small>Lorem ipsum dolor sit amet elit</small>
                        </div>
                    </div>
                    <!-- Newsletter End -->

                    <!-- Tags Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-3">
                            <div class="d-flex flex-wrap m-n1">
                                {% for cat in categories %}
                                <a href="{% url 'news_by_category' cat.name %}" class="btn btn-sm btn-outline-secondary m-1">{{cat.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- Tags End -->
                </div>
            </div>
        </div>
    </div>
    <!-- News With Sidebar End -->
<script>
function toggleComments() {
    var commentsDiv = document.getElementById("allcomments");
    var toggleBtn = document.getElementById("toggle-comments-btn");

    if (commentsDiv.classList.contains("show")) {
        toggleBtn.textContent = "عرض كل التعليقات";
    } else {
        toggleBtn.textContent = "تعليقات اقل";
    }
}
</script>
{% endblock %}    